<%= form_with model: game do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% game.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :player %><br>
    <%= form.text_field :player %><br>
    <% game.errors.full_messages_for(:player).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :turn_year %><br>
    <%= form.text_field :turn_year, value:'3000'%><br>
  </div>
  <div>
    <%= form.label :turn_day %><br>
    <%= form.text_field :turn_day %><br>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>